<br><br><br>
<h1><%=@user.full_name %>'s Reviews</h1>
<br><br>
  <%@reviews.each do |review| %>

    <strong><a href="/restaurants/<%=review.restaurant_id %>"style="color:#8c1d2d"><%=review.title%></a></strong><br>
    <%=review.experience %><br>
    <strong><%=review.rating%>/5</strong><br><br><br>
    <% end%>

    <form action="/reviews/new" method="GET">
      <input type="submit" class="button" value="Create New Review">
    </form>

    <form action="/reviews/index">
      <input type="submit" class="button" value="Read All User Reviews">
    </form>

    <form action="/restaurants/index">
      <input type="submit" class="button" value="View Restaurants">
    </form>

    <form action="/logout">
      <input type="submit" class="button" value="Log Out">
    </form>

  </body>
</html>
