<br><br><br>

<ul>
  <h1><%=@restaurant.name %></h1><br>
  Cuisine: <%=@restaurant.cuisine%><br>
  Location: <%=@restaurant.location%><br>
  Overall Rating: <%= @overall_rating%><br><br><br>

  <h1>User Reviews:</h1><br>
  <%@restaurant.reviews.sort_by(&:rating).each do |review|%>
  <%=review.title%><br>
  <%= review.experience%><br>
  <%= review.rating%>/5<br><br><br>
    <%end%>
</ul>
<br><br>
<form action="/users/:id">
  <input type="submit" class="button" value="My Reviews">
</form>

<form action="/reviews/index">
  <input type="submit" class="button" value="Read All User Reviews">
</form>

<form action="/restaurants/index">
  <input type="submit" class="button" value="View Restaurants">
</form>

<form action="/logout">
  <input type="submit" class="button" value="Log Out">
</form>
