<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <style>

    </style>
<h1><strong>User Reviews:</strong></h1><br><br>


  <%@reviews.each do |review| %>
  <ul>
    <!-- list restaurant name as href & link to /restaurants/show  restaurant_id??-->
    <strong><a href="<%=restaurant.id%>"><%=restaurant.name%></a></strong><br>
    Title: <%=review.title%><br>
    Experience: <%= review.experience %><br>
    Rating: <%= review.rating %>/<br>
  </ul><br><br>
    <% end%>

    <form action="/users/:id">
      <input type="submit" class="button" value="My Reviews">
    </form>

    <form action="/reviews/new" method="GET">
      <input type="submit" class="button" value="Create New Review">
    </form>

    <form action="/restaurants/index">
      <input type="submit" class="button" value="View Restaurants">
    </form>

    <form action="/logout">
      <input type="submit" class="button" value="Log Out">
    </form>

  </body>
</html>
