<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <style>

    </style>
<h1><%=@user.full_name %>'s Latest Review:</h1>


  <ul>
    <%=@review.title%>
    <%=@review.experience%>
    <%=@review.rating%>
  </ul><br><br>

    <form action="/reviews/new" method="GET">
      <input type="submit" class="button" value="Create Another Review">
    </form><br>

    <form action="/reviews/index">
      <input type="submit" class="button" value="Read All User Reviews">
    </form><br>

    <form action="/reviews/<%=@review.id%>/edit" method="GET">
      <input id="hidden" type="hidden" name="_method" value="edit">
      <input type="submit" class="button" name="edit" value="Edit Review">
    </form><br>

    <form action="/reviews/<%=@review.id%>/delete" method="DELETE">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" class="button" name="delete" value="Delete Review">
    </form><br>

    <form action="/logout" method="GET">
      <input type="submit" class="button" value="Log Out">
    </form>

  </body>
</html>
